---
- name: Create directories in ~
  ansible.builtin.file:
    path: "{{ lookup('ansible.builtin.env', 'HOME') }}/{{ item }}"
    state: directory
  loop:
    - '.config'
    - '.local/bin'
    - '.local/share/bash-completion/completions'
  tags:
    - tools
    - work
