---
- name: Check latest uv version
  ansible.builtin.uri:
    url: https://api.github.com/repos/astral-sh/uv/releases/latest
    return_content: true
    user: "{{ github_user }}"
    password: "{{ github_token }}"
    force_basic_auth: "{{ gh_auth }}"
  register: uv_github_details
  when: uv.version is undefined
  tags:
    - tools
    - uv

- name: Set uv.version
  ansible.builtin.set_fact:
    uv:
      version: "{{ uv_github_details.json.tag_name }}"
  when: not uv_github_details is skipped
  tags:
    - tools
    - uv

- name: Install uv
  ansible.builtin.unarchive:
    src: "https://github.com/astral-sh/uv/releases/download/{{ uv.version }}/uv-x86_64-unknown-linux-gnu.tar.gz"
    dest: "{{ ansible_env.HOME }}/.local/bin"
    remote_src: true
    extra_opts:
      - '--strip-components=1'
    include:
      - 'uv-x86_64-unknown-linux-gnu/uv'
      - 'uv-x86_64-unknown-linux-gnu/uvx'
  register: uv_install
  tags:
    - tools
    - uv

- name: Generate uv bash completions
  ansible.builtin.shell:
    cmd: uv generate-shell-completion bash > "{{ ansible_env.HOME }}/.local/share/bash-completion/completions/uv"
  when: uv_install is changed
  tags:
    - tools
    - uv

- name: Generate uvx bash completions
  ansible.builtin.shell:
    cmd: uvx --generate-shell-completion bash > "{{ ansible_env.HOME }}/.local/share/bash-completion/completions/uvx"
  when: uv_install is changed
  tags:
    - tools
    - uv

- name: Install python tools
  block:
    - name: Install python tools
      ansible.builtin.shell:
        cmd: uv tool install --native-tls {{ item }}
        creates: "{{ ansible_env.HOME }}/.local/share/uv/tools/{{ item }}"
      loop: "{{ python_tools }}"
    - name: Upgrade python tools
      ansible.builtin.shell:
        cmd: uv tool upgrade --native-tls {{ item }}
      register: result
      changed_when: "'Nothing to upgrade' not in result.stderr"
      loop: "{{ python_tools }}"
  rescue:
    - name: Re-install python tools
      ansible.builtin.shell:
        cmd: uv tool install --reinstall --native-tls {{ item }}
      loop: "{{ python_tools }}"
  tags:
    - py
    - tools
    - uv
