.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/error.log
.newsboat/history.cmdline
.newsboat/history.search
.newsboat/queue
.newsboat/ttrss.conf
.newsboat/ttrss.pass.gpg
.vim/.netrwhist
.vim/autoload/plug.vim*
.vim/local.vim
.vim/plugged/
