[push]
	default = tracking
[alias]
	co = checkout
	ci = commit
	up = pull
	st = status -sb
	lg = log --graph --pretty=format:'%C(cyan)%h%C(reset) :%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(red)[%an]%C(reset)' --abbrev-commit --date=relative --date-order
	ups = submodule foreach git pull origin master
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	log = true
[color]
	ui = auto
[include]
	path = ~/.gitlocal
