[push]
	default = current
[alias]
	co = checkout
	ci = commit -v
	up = pull
	st = status -sb
	lg = log --graph --pretty=format:'%C(cyan)%h%C(reset) :%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(red)[%an]%C(reset)' --abbrev-commit --date=relative --date-order
	ll = log --pretty=format:'%C(cyan)%h%C(reset) :%C(yellow)%d %C(reset)%s%C(red) [%cn]' --decorate --numstat
	ups = submodule update --recursive -j 4
	dt = difftool
	mt = mergetool
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
	bdone = "!f() { git co ${1-master} && git up ${2-upstream} ${1-master} && git bclean ${1-master}; }; f"
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	log = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[color]
	ui = auto
[include]
	path = ~/.gitlocal
[branch "master"]
	rebase = true
[status]
	submoduleSummary = true
