.vim/local.vim
.vim/.netrwhist
.vim/snippets/svn.snippets
.newsbeuter/queue
.newsbeuter/cache.db
.newsbeuter/cache.db.lock
.newsbeuter/error.log
.newsbeuter/googlereader
.newsbeuter/history.cmdline
.newsbeuter/history.search
