.vim/.netrwhist
.vim/autoload/plug.vim
.vim/local.vim
.vim/plugged/
.newsboat/queue
.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/error.log
.newsboat/ttrss
.newsboat/history.cmdline
.newsboat/history.search
