[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/vim-plugin-minibufexpl"]
	path = .vim/bundle/vim-plugin-minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/vim-lucius"]
	path = .vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule ".vim/bundle/vim-rst-snippets"]
	path = .vim/bundle/vim-rst-snippets
	url = https://github.com/carno/vim-rst-snippets.git
