# emphasis
snippet em
	*${1}* ${2}
# strong
snippet st
	**${1}** ${2}
# inline code
snippet bq
	\`\`${1}\`\` ${2}
# footnote
snippet fn
	[#]_
	
	.. [#] ${1:footnote}
# page break
snippet pb
	.. raw:: pdf
	
		PageBreak
	
# code block
snippet cb
	.. code-block:: ${1:language}
	
		${2:#code}
# doc info
snippet docinfo
	:Author: ${1:Author}
	:Revision: ${2:$Revision$}
	:Description: ${3:#description}
# horizontal rule
snippet hr
	-----
	
