snippet #! "shebang" !b
#! /usr/bin/env python

${0}
endsnippet

snippet docs "Module docstring" b
'''
File: ${1: `!v Filename('$1.py', 'foo.py')`}
Author: ${2}
Description: ${3}
'''
${0}
endsnippet

snippet cutf8 "UTF-8 encoding" b
# -*- coding: utf-8 -*-
endsnippet

snippet fur "import from __future__" b
from __future__ import ${1}
endsnippet
