---
- name: Install kubectl
  ansible.builtin.get_url:
    url: "https://dl.k8s.io/release/{{ kubectl.version }}/bin/linux/amd64/kubectl"
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.local/bin/"
    mode: '0755'
  register: kubectl_install
  tags:
    - never
    - kubectl
    - kubernetes
    - work

- name: Generate bash completions
  ansible.builtin.shell: kubectl completion bash > "{{ lookup('ansible.builtin.env', 'HOME') }}/.local/share/bash-completion/completions/kubectl"
  when: kubectl_install is changed
  tags:
    - never
    - kubectl
    - kubernetes
    - work
