# include defaults
$include /etc/inputrc

# single tab completion
set show-all-if-ambiguous on
set show-all-if-unmodified on

# suffix each returned file completion with a character denoting its type
set visible-stats on

# turns off the use of the internal pager when returning long completion lists
set page-completions off

# Ignore case for tab completion
set completion-ignore-case on

# Don't waste my time with questions <1000
set completion-query-items 1000

# Add / when autocompleting symlink to directories
set mark-symlinked-directories on

# More intelligent autocomplete
set skip-completed-text on

# do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

$if Bash
  # Be more intelligent when autocompleting by also looking at the text after
  # the cursor. For example, when the current line is "cd ~/src/mozil", and
  # the cursor is on the "z", pressing Tab will not autocomplete it to "cd
  # ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
  # Readline used by Bash 4.)
  set skip-completed-text on

  # Coloring for Bash 4 tab completions.
  set colored-stats on
$endif
