---
- name: Check latest flux version
  ansible.builtin.uri:
    url: https://api.github.com/repos/fluxcd/flux2/releases/latest
    return_content: true
    user: "{{ github_user }}"
    password: "{{ github_token }}"
    force_basic_auth: "{{ gh_auth }}"
  register: flux_github_details
  when: flux.version is undefined
  tags:
    - never
    - flux
    - work

- name: Set flux.version
  ansible.builtin.set_fact:
    flux:
      version: "{{ flux_github_details.json.tag_name }}"
  when: not flux_github_details is skipped
  tags:
    - never
    - flux
    - work

- name: Install flux
  ansible.builtin.unarchive:
    src: "https://github.com/fluxcd/flux2/releases/download/{{ flux.version }}/flux_{{ flux.version | replace ('v', '') }}_linux_amd64.tar.gz"
    dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.local/bin"
    remote_src: true
    include:
      - flux
  register: flux_install
  tags:
    - never
    - flux
    - work

- name: Generate bash completions
  ansible.builtin.shell: flux completion bash > "{{ lookup('ansible.builtin.env', 'HOME') }}/.local/share/bash-completion/completions/flux"
  when: flux_install is changed
  tags:
    - never
    - flux
    - work
